<!DOCTYPE html>
<html>

<head>
    <title>Guess The Word</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>Guess The Word</h1>

    <p>Welcome, {{ request.user.username }}!</p>


    {% if limit_reached %}

        <h2>You have reached your limit of 3 games for today.</h2>


    {% else %}

        <p>Your game has started.</p>


        {% if not game.completed %}

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <input
                type="text"
                name="guess"
                maxlength="5"
                pattern="[A-Za-z]{5}"
                title="Enter exactly 5 letters."
                required>

                <button type="submit">Guess</button>

            </form>


        {% else %}

            {% if game.won %}

                <h2>🎉 Congratulations! You guessed the word!</h2>

            {% else %}

                <h2>Better luck next time!</h2>

                <p>
                    The word was: {{ game.word.word }}
                </p>

            {% endif %}
            <form action="{% url 'game_over' %}" method="POST">

            {% csrf_token %}

        <button type="submit">OK</button>

        </form>
            <form action="{% url 'next_game' %}" method="POST">

                {% csrf_token %}

                <button type="submit">Next Game</button>

            </form>

        {% endif %}
        {% for guess in guesses %}

            <div>

                {% for tile in guess.tiles %}

                    <span class="{{ tile.color }}">
                        {{ tile.letter }}
                    </span>

                {% endfor %}

            </div>

        {% endfor %}
    {% endif %}

    <p>
        <a href="/logout/">Logout</a>
    </p>
    {% if request.user.is_staff %}
    <p>
        <a href="{% url 'reports' %}">Admin Reports</a>
    </p>
{% endif %}

</body>

</html>